.main_box {
	height: auto;
	border-radius: 25px;
	width: 70%;
	margin-left: calc(15% - 20px);
	margin-top: 25px;
	transition: 0.3s linear all;
	border: 1px solid #cfcfcf;
	padding: 30px 20px;
	position: relative;
}

.title {
	margin-left: calc(15% - 20px);
	margin-top: 55px;
	transition: 0.3s linear all;
	position: relative;
	font-size: 35px;
	font-weight: bold;
}

.subtitle {
	margin-left: 5%;
	transition: 0.3s linear all;
	position: relative;
	font-size: 25px;
	font-weight: inherit;
	padding-bottom: 15px;
}

@media screen and (max-width :650px) {

	.main_box,
	.title {
		margin-left: calc(5% - 20px);
	}

	.main_box {
		width: 90%;
	}
}

@media screen and (max-height :480px) {
	.main_box {
		margin-top: 120px;
	}
}

.cookie_info div {
	display: none;
}

.cookie_info:hover div {
	display: block;
}
